@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}


body{
  background-color: #444;
  color: #ffff;
  text-align: center;
  font-family: Roboto;
}

.all{
  height: 98vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.separation{
  display: flex;
  flex-direction: column;
}

label{
  font-size: 40px;
}

button{
  padding: 10px;
}

.panel{
  background-color: #444 ;
  position: absolute;
  height: 80%;
  width: 70%;
  opacity: 0%;
  display: none;
  transition: ease-in 1s;
}

.panel.active{
  transition: ease-in-out 1s;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.iconClose{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.name{
  position: absolute;
  top: 80px;
}
