@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}


body{
  background-color: #444;
  color: #ffff;
  text-align: center;
  font-family: Roboto;
}

.all{
  height: 98vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.separation{
  display: flex;
  flex-direction: column;
}

label{
  font-size: 40px;
}

button{
  padding: 10px;
}
